<footer class="py-5 footer text-center">
  <div class="container">
    <nav class="nav justify-content-center mb-3">
      <a class="nav-link px-2 text-white" routerLink="/acerca">Acerca de</a>
      <a class="nav-link px-2 text-white" routerLink="/catalogo">Productos</a>
      <a class="nav-link px-2 text-white" routerLink="/contacto">Contacto</a>
      <a class="nav-link px-2 text-white" routerLink="/cart">Carrito</a>
    </nav>
    <p class="m-0 text-center text-white">Copyright © Piña Costa 2025</p>
  </div>
</footer>
